tsconfig.json
.env
dist
node_modules/
build/
.sqlite
.db
# Node modules
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# SQLite database files
*.sqlite
*.db

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Temporary or editor files
*.tmp
*.swp
.vscode/
wep